/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container{
    padding: 20px;
  }
  p{
    font-size: large;
  }
  footer{
    background-color: #333;
            color: white;
            text-align: center;
            padding: 15px;
            
            bottom: 0;
            width: 100%;
  }
  body{

    background-color: rgb(255, 255, 255); 
  }
  